In [2]:
import pandas as pd
import json

with open('./train_summary.json', encoding='UTF-8') as file:
    train_dataset = json.load(file)

with open('./text_summary_dataset_1125/test_summary.json', encoding='UTF-8') as file:
    test_dataset = json.load(file)
df = pd.DataFrame(train_dataset)
df.columns = ['news', 'summary', 'meta']

In [20]:
df.drop('meta', inplace=True, axis=1)
print(df.head(2))
df.to_csv('my_train.tsv', sep="\t")

,news,summary
0,만정헌은 약 500여년전 현감벼슬을 지냈던 김자간이 경주에서 울산 명촌리에 들어와 ...,만정헌은 약 500여년전 현감벼슬을 지냈던 김자간이 경주에서 울산 명촌리에 들어와 ...
1,부여 관북리유적은 1983년 9월 충청남도 기념물 제43호 전백제왕궁지(傳百濟王宮址...,부여 관북리유적은 1983년 9월 충청남도 기념물 제43호 전백제왕궁지(傳百濟王宮址...

In [4]:
df = pd.DataFrame(test_dataset)
df.columns = ['news', 'summary', 'meta']
df.drop('meta', inplace=True, axis=1)
print(df.head(2))
df.to_csv('my_test.tsv', sep="\t")

                                                news summary
0  공주시 무령왕릉에서 발견된 청동거울로 청동신수경, 의자손수대경, 수대경 3점이다. ...
1  높이 47cm의 대형 백자 병으로 목이 유난히 길어 속칭 거위병이라고도 부른다. 병...

In [3]:
test = pd.read_csv('KoBART-summarization/data/test.tsv', sep='\t')
test.head(1)

,news,summary
0,계약금 10%·중도금무이자융자·6개월 후 전매가능 기자 아파트 분양시장이 실수요자 ...,태왕의 '성당 태왕아너스 메트로'모델하우스는 초역세권 입지와 변화하는 라이프스타일에...